@page "/Admin"
@using Microsoft.Extensions.Localization
@using global::Abp.Admin.Localization
@inherits AdminComponentBase
@if (!this.CurrentUser.IsAuthenticated)
{
    <RedirectToLogin/>
}
<h1>Admin</h1>
<p>@L["SamplePageMessage"]</p>